[2018-01-25 21:05] zee-moz opened #1 "ZM Tasks week of 1/22"
- [x] Meet with Lotta & Kevin on comms plan/announcement
- [x] Finalize Goals and Metrics
- [x] Begin to design any new components
- [x] meet with Jen re Stories/Advocacy activities for the Global Sprint
- [x] Begin to assign roles/staffing: [meeting notes here](https://public.etherpad-mozilla.org/p/GS2018)
- [x] kick-off web design process/ brief for website & header graphics
- [x] Create Plannin

[2018-01-26 15:59] zee-moz opened #2 "2018 Sprint Goals & Metrics"
Note: these are not necessarily public facing goals and metrics-- these are internal benchmarks for 2018. We will collect this data, but aren't limited to it.We will measure all activity by all participants (both contributors and project leads) across all projects in the Sprint, but specifically we look for:

**Project and participation #s**
 75% increase: 122 sites; 189 projects.

** Project Acti

[2018-01-26 16:01] zee-moz opened #3 "Create Registration Forms"
We need forms for:

Projects -- [last year's form here](https://docs.google.com/forms/d/1D56H_1m6IYHQp_yhF4dWM73efN5uhB2ZWqu_6A5X0K4/edit?usp=sharing).
Sites --[last year's form here](https://docs.google.com/forms/d/1RzybCA9Mf1s5_KMTBdgPQHq4XvlWF-yBZvGnaqTazyY/edit?usp=sharing)

- [x] Create forms (copy from last year) - @acabunoc
  - [x] Site Registration - https://goo.gl/forms/O69KyqXoVcujQRdA3

[2018-01-26 17:00] zee-moz commented on #2
@acabunoc can you summarize the process and specs for this data analysis project so I can work on getting dev time from Alan?

[2018-01-26 20:22] zee-moz opened #4 "Create Survey for 2017 Participants"
Survey should be sent to all leads, hosts, and participants
Draft list of questions:

- Did you attend Y/N
- At the 2017 sprint, I (check all that apply) contributed to my open project, contributed to someone else's open project, networked/met people, learned a new skill, started a project, did something positive for the internet, learned something new about working open, other
- Role (check box)

[2018-01-26 20:38] zee-moz opened #5 "Review of 2017 Site Content and Materials"
[The 2017 site is here](https://mozilla.github.io/global-sprint/)
[The planning materials (wrangler guides, etc, created last year for Hub staff) are here](https://github.com/MozillaFoundation/2017-global-sprint-planning)
**Deadline for review: 2/7 if possible.**

Pls review with the following questions in mind:

- What's not clear?
- What's hard to find?
- What could be better organized?
- What c

[2018-01-29 15:47] zee-moz opened #6 "ZM Tasks Week of 1/29"
- [x] assign tasks and document issues; check in with those assisting
- [x] reach out to Ti.to re: gathering emails
- [x] document comms planning mtg in issue
- [x] write up wrangler job description
- [x] sort engineering request for analytics with Alan

- [x] web lit mtgs
- [x] abby's work-in trade for registration

[2018-01-29 17:13] zee-moz opened #7 "Create communication plan"
From meeting with Kevin @kevZawacki & Lotta @lottarao

**Insights**
- press are most interested in individual projects
- if they are remote or in a unique local, sites could make an interesting story
- what is the motivation of the project lead/site host?
- look for stories that are bigger than sprint
- can this serve more explicitly as a kick-off event around IH learning?
- fellows involvement--

[2018-01-30 16:23] zee-moz opened #8 "Set Up Tito for Sprint"
- [x] Ensure that old Sprint Sites are closed
- [x] Set up new template site
- [x] Add any new graphics
- [x] Run short tutorial session for OLE team members who are helping with Tito sites

[2018-01-30 16:42] zee-moz opened #9 "Recruit Sprint Project Wranglers from past and present Mentors"
See the Wrangler List here #11
See the Project Wrangler Job description here #10

Let me know who you think might be good for this role!

[2018-01-30 16:42] zee-moz opened #10 "Create GS Project Wrangler Job Description"

[2018-01-30 17:13] zee-moz commented on #3
@lottarao feel free to comment on new questions here! @kevZawacki as well.

[2018-01-30 19:55] zee-moz commented on #10
### Project Wrangler Role

Working closely with project leads, the Project Wrangler helps recruit and prepare open projects for a successful Global Sprint. The PW will primarily work with so-called “wild” projects-- projects by led by people who haven’t participated in Mozilla’s Open Leaders Mentoring program, and will likely need some guidance on opening their project for contribution.

We’ll ass

[2018-01-30 20:39] zee-moz opened #11 "Project Wrangler Suggestions and Assignments"
Identify and recruit 10 wranglers for "wild" projects.  See job description: #10 . Let's see if we can get 4 or 5 names for each area, so we're sure to get 2 in the end! Add suggestions in comments...

**"Openness"/Open Innovation**
- Robert?
- Danielle or Christie?
- Brian Bot
- Kenneth Daily (Sage BN - works w/ Brian)
- Lou Woodley
- Peter Grabitz
- Alex Morley
- Marcos Vital

**Web Literacy**
-

[2018-01-30 21:04] zee-moz commented on #2
@alanmoo here are the metrics and the plan

[2018-01-30 21:05] abbycabs commented on #2
data collected from last year: https://github.com/mozilla/global-sprint/tree/2017/_data/activity

[2018-01-30 21:12] abbycabs commented on #2
https://medium.com/read-write-participate/mozsprint-by-the-github-numbers-49d518551725

[2018-01-30 21:15] abbycabs commented on #2
Endpoint used: https://developer.github.com/v3/activity/events/

[2018-01-31 14:38] zee-moz opened #12 "Sprint Swag Preparations"
@stephwright is 2018 Swag Queen! ❤️

- [x] Determine this year's swag-- let's make a cheap but varied packet of goodies for site hosts.
- [x] Order Swag (receive by March 15)
- [x] Copy and update Swag Request form

Possibilities for 2018 swag:
- Sprint Fox Stickers
- Mozilla Stickers?
- Any leftover "Web For All" stickers from MozFest, or reprints of that design?
- Small number (10-15) pre-printe

[2018-01-31 14:53] zee-moz opened #13 "Create Project Brief for Sprint Data Collection"
[Brief template is here. ](https://docs.google.com/document/d/1E2iFrjEXEUm4WXAn15gGaApcg0HheHhppgxaDDITmFQ/edit?usp=sharing)

[2018-01-31 16:02] chadsansing commented on #10
Looks great. Very clear. A few suggestions:

- Add "(IH)" after first mention of Internet health.
- Note that Global Sprint organizers will provide communications templates to reduce the amount of time Project Wranglers spend recruiting and promoting projects.
- Spell out resources in the Project Preparation section (e.g. "Point leads to working open and open leadership resources like the Open Lea

[2018-01-31 16:09] chadsansing commented on #11
A few thoughts, questions, & suggestions:

- I am happy to pitch in on Web Literacy or Openness, if needed.
- Would it work to involve Fellows here? Especially for Privacy and Security and Digital Inclusion?
- Meghan for anything.
- Mehan for Decentralization.
- Jen for Digital Inclusion.

Will post more if other ideas occur to me.

[2018-01-31 16:12] zee-moz commented on #11
@chadsansing which Jen?

[2018-01-31 16:13] #1 closed

[2018-01-31 16:24] zee-moz commented on #4
@chadsansing @acabunoc @stephwright @saallen feedback welcome on survey questions-- should take just a couple minutes!

[2018-01-31 16:29] chadsansing commented on #11
Apologies - Jen Caltrider.

[2018-01-31 16:30] chadsansing commented on #11
The insights/IHR folks might also enjoy or draw some benefit from mentoring GS projects.

[2018-01-31 16:32] Saallen commented on #4
Slight tweet to your 2nd Q
* At the 2017 sprint, I (check all that apply)
contributed to my open project, contributed to someone else's open project, started a *NEW* project
learned a new skill, network and met some new ppl, did something positive for the internet, learned something new about working open, other

I would also ask
* did you sprint from a site? If so which one
* are you still contri

[2018-01-31 16:36] chadsansing commented on #4
Maybe an item rating the level of support received from wranglers and/or staff?

Maybe also a Y/N/Y& item asking if the respondent joined another project after the sprint, participated in another Mozilla program or event, or both?

[2018-01-31 16:51] Saallen commented on #2
**First draft -Goals for event**

_External_ --To faciliate connections, collaborations and the growth of open source projects and contributions.
_Internal_ -- Opportunity for leadership development for many project leads who take their project from ideation stage to public contribution, or from local community project to global contributions. Also great potential for experienced mentors to suppor

[2018-01-31 19:28] zee-moz commented on #2
@Saallen thanks, these are great! Can you also respond to the Project/Participation numbers and the Contributor Growth Metric listed in the issue? Feedback on these is pressing as we're designing data collection around them. Thanks! 😺

[2018-01-31 19:38] zee-moz opened #14 "Follow up with Sara H around Campaigns and the Sprint"
Some ideas that came up during a conversation w/ @acabunoc @shaghdoosti

- 1. sprint projects or challenges around campaigns, like Aadhaar in India
- 2. design challenges to create posters/campaign materials
- 3. issue-based sprint sites
- 4. regional opportunities (Australia?)

@shaghdoosti please add detail/edit/correct if anything is missing or incorrect.
let's keep track of the conversation he

[2018-01-31 21:59] zee-moz commented on #13
[Drafted brief is here](https://docs.google.com/document/d/1E2iFrjEXEUm4WXAn15gGaApcg0HheHhppgxaDDITmFQ/edit#)! @acabunoc feel free to add/edit. I sent it on to Alan so they can get started with the planning.

[2018-01-31 22:15] stephwright commented on #4
Can I ask what we're looking for w/ the option in Q2 for "did something positive for the internet"... I'm not entirely clear what that means or would be... and what do we do with that info if we collect it?

I would recommend that every question we ask has some action that we can take tied to it.  For instance, for Q6, we can identify areas of expertise we may need to target for the Sprint based o

[2018-01-31 22:30] zee-moz commented on #4
@stephwright with that question, I'm trying to determine if participants are connecting their work at the Sprint with Mozilla's broader mission to promote Internet Health, as evidenced by the 5 areas. If no-one checks that box, then we're not doing a good job of linking this work with IH and need to find ways to do that better. I could say "did something to promote a healthy internet". If this que

[2018-01-31 23:15] stephwright commented on #12
Would like everything to be flat and light for mailing purposes, particularly since so many are in far flung places.... so stickers and other printable materials

Yes to Sprint Fox stickers, already have a template in Sticker Mule
Yes to Mozilla stickers, also have template ready in Sticker Mule
@acabunoc has reached out to rizki who manages reps swag to see what other options are.
For the site ho

[2018-02-01 18:45] Saallen commented on #2
Hello
** Project Activity Metric: increased and sustained activity on all projects**
    1 week before the sprint- why do we need to measure here? as surely everyone will just be prepping their projects??Can you share the base line here from 2017?

Can you expand what you mean in the second goal by events?

[2018-02-01 19:40] zee-moz commented on #2
@Saallen  events are things people do on GitHub to meaningfully contribute:

- 1. Issues opened or closed
- 2. Pull requests opened, closed, or reopened

As for the 1 week timeline-- some projects in 2018 may be new and not have 2017 activity/history.
If you are talking about 2017 baseline activity on 2017 projects from Sprint (?) I think that data can't be retroactively collected, you have to col

[2018-02-02 15:45] abbycabs commented on #3
Task breakdown with person responsible (as far as I can tell)
(moved to top comment!)

[2018-02-02 15:47] abbycabs commented on #3
@zee-moz I'll wait till you've finalized questions before implementing the email script. This way it won't accidentally break if questions are changed!

[2018-02-02 15:59] zee-moz commented on #3
@acabunoc I think we can go with this set of questions. @Lottarao @KevZawacki  any thoughts or input before we go ahead?

[2018-02-02 16:14] abbycabs commented on #3
@zee-moz just so you know they're both exactly the same as last year. Happy to go forward with this set of questions.
  - Site Registration - https://goo.gl/forms/O69KyqXoVcujQRdA3
  - Project Registration - https://goo.gl/forms/uaGE7CT3vVXHcaWJ2

[2018-02-02 16:29] abbycabs commented on #3
Project registration [email content](https://docs.google.com/document/d/1D_JY_GSm0yI8JGc86P7AT35LHoBgYKSXciU9JSKhWpU/edit?usp=sharing) - please remix!

[2018-02-02 17:14] KevZawacki commented on #3
@zee-moz Questions work for me! 👍 Looking forward to reading the responses.

[2018-02-02 18:13] abbycabs commented on #3
Issue template. Let me know if you want any changes.

***

**[ Project Contact ]** <%= facilitator %>
**[ GitHub Repo ]** <%= link %>
**[ Track ]** <%= track %>
**[ Location ]** <%= location %>

### Description
<%= description %>
***

## Want to contribute to this project during #mozsprint?
Join us at the Global Sprint, May 10-11. Leave a comment below if you're interested in contributing to this

[2018-02-02 19:15] zee-moz commented on #3
@acabunoc can we add the questions that I put in the original issue, up top? 3 for projects, 2 for sites. Thanks!  😸

[2018-02-02 19:32] zee-moz opened #15 "Edit OL interviews for Abby- in trade for Reg Forms"
EDITS:
- [x]     Katja Heuer, BrainBox
- [x]     Erin Cole, Mental Hues
- [ ]     Matt Hannigan, Dustin Stiver & Tricia Kievlan, Project Code for Community Change (can't respond now)
- [x]     Samantha Hindle, Journal Club Starter Kit
Subhashish Panigrahi, OpenSpeaks __ DID NOT REPLY

STAGING AND SEND FOR REVIEW
- [x]     Katja Heuer, BrainBox
- [x]     Erin Cole, Mental Hues
- [x]     Samantha Hi

[2018-02-02 20:29] abbycabs commented on #3
@zee-moz done! you should have edit access to the forms -- let me know if there's a problem. I know there are links and copy from last year's sprint in the forms -- please make sure you're okay with that!

I moved the checklist to the top comment. Once you (@zee-moz) send me copy for the site host confirmation & are good with the copy for project confirmation & issue template, I'll go ahead and se

[2018-02-05 16:27] zee-moz opened #16 "Schedule Sprint Job Fair"
- [x] create job descriptions
- [x] update planning repo
- [x] develop agenda for meeting
- [x] select date -- sometime late week of 2/29
- [x] id and book guests (?)

[2018-02-05 16:29] #6 closed

[2018-02-05 16:35] zee-moz opened #17 "ZM Tasks Week of 2/5"
Sprint stuff
- [x] update comms plan
- [x] edit content to add to foundation CMS
- [x] create participant survey
- [x] draft email re: survey and sprint announcement
- [x] get emails from Ti.To
- [x] send out participant survey
- [x] write better sprint description; use Erika's maker party language
- [x] reach out to partners (Open Innovation Team, Campus Clubs, MDN)
- [ ] plan & schedule job fair

[2018-02-05 19:06] zee-moz opened #18 "Count Languages in the 2017 Global Sprint"
@acabunoc to look into this. Thanks abby! 🥇

[2018-02-05 19:10] abbycabs commented on #18
I'm 80% sure the language count is 1

Here is the full list of projects from 2017: https://github.com/mozilla/global-sprint/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+201

I'll browse through the whole list when I have time (maybe Friday). Others are free to take this on if you have time before I do!

[2018-02-05 19:13] abbycabs commented on #17
Could you also look at #3? I've scheduled time to work on it tomorrow, but I'm blocked on a couple things. Thank you!

[2018-02-05 19:17] zee-moz commented on #7
Communication Plan is here! https://docs.google.com/document/d/1vuT1oR_xTQYRBewYbjKpfygnDUXl352BXZ2wrZhaeII/edit?ts=5a788da1#

[2018-02-05 19:47] zee-moz commented on #17
Sure! thanks for the reminder :)

[2018-02-05 21:47] zee-moz commented on #3
A couple of questions about the form @stephwright @Saallen @acabunoc  -- we have a list of communities on last year's registration forms-- listing Mozilla Science, the Hives, Women in Tech, Mozilla Clubs, etc... Should we keep this list with historical programs that we no longer support? How should we edit it?  Or should we just keep our internet health issues as main points of entry, and not ask

[2018-02-06 10:46] Saallen commented on #3
I dont think we should keep this historical list as the community dont identify themselves under these titles any more- I would advise to just list issues

[2018-02-06 15:00] zee-moz commented on #3
@Saallen thanks! Will do.

[2018-02-06 21:11] zee-moz commented on #4
[Survey is here](https://docs.google.com/forms/d/1yd_s6MR8ZRDPWghq1p0Hq6BUr50pCL7qo2UHVo_DgbQ/edit)

Text of survey email:

_Hello from Mozilla_

_I'm writing because last Spring you registered to participate in the 2017 Mozilla Global Sprint.
We've set the dates for this year's event-- May 10 & 11th 2018-- and we're busy planning an awesome Global Sprint for 2018. Part of this process is hearing

[2018-02-07 17:57] zee-moz opened #19 "Follow Up on Comms with Temi"
- [x] Follow up Email - highlight collaboration opportunity
- [x] Email to loop in Kristina, Matthew
- [x] Review on content for site
- [x] 2017 Storytelling examples-- need participant story
- [x] Comments on Comms Plan

[2018-02-07 23:44] edrushka commented on #5
A few suggestions:
1) Simplify and clarify the description at the top of the site. E.g.:
Mozilla’s Global Sprint is a fun, two-day event to build projects for a healthy Internet. Collaborate online or in person with a diverse network of scientists, educators, artists, engineers, and others by contributing your skills and ideas to a project of your choice.

2) Reduce CTAs and be consistent with ter

[2018-02-09 19:38] stephwright commented on #11
I just added a bunch of suggestions from community members

[2018-02-09 19:41] stephwright commented on #12
We've got a wordmark/logo for GS but going to nix hex sticker for this year.
For postage purchases going to stick to stickers and printed materials.
Current plan:
- Sprint Fox
- Mozilla
- Web for All
--- stickers from sponsors???? what do you think @Saallen @zee-moz

Will send to first 75 site hosts.
Will wait until closer to close of registration before sending.
Trying to figure out a good "distr

[2018-02-15 18:35] abbycabs commented on #18
2 languages!
There were 2 projects in Spanish in 2017.

Closing :)

[2018-02-15 18:35] #18 closed

[2018-02-16 23:39] zee-moz commented on #3
@acabunoc

- I updated the Registration forms-- maybe take one final look yourself, otherwise they are good to go. I added confirmation messages-- let me know if the one for project form is OK.
- I'm listing globalsprint@mozillafoundation.org as the email for questions-- sound OK
- I updated both the file names and the links listed in the reg forms for the "how-to" info. We are making the GH pages

[2018-02-16 23:51] zee-moz opened #20 "Convert old GS site to Training site"
We're converting the old GS site to just host the training pages, as all other info is on the [Foundation site](https://foundation.mozilla.org/opportunity/global-sprint/).

**We do have a NEW GH pages template for curriculum that matches the foundation site design!**

It lives here, [in this forkable repo](https://mozilla.github.io/web-lit-core/).

[Notes on the development of this template are he

[2018-02-16 23:52] #19 closed

[2018-02-16 23:52] #13 closed

[2018-02-19 11:03] Saallen commented on #16
Going to add some additional tasks
- [x]  Sarah to connect with WPR about support for sites during sprint
- [x] Share open call for Jobs fair on the Project call
- [x] Sarah to email all offices once project call over looking for site hosts

[2018-02-19 21:49] abbycabs commented on #20
Thanks @zee-moz! This isn't *too* much work since it's built off of the template we're using now, but I don't think I'll have time to get it done before Wednesday.

Feel free to edit all the content in the current repo and it shouldn't be a problem to "re-skin" the [stuff here](http://mozilla.github.io/global-sprint/) to match web-lit-core.

[2018-02-19 21:59] abbycabs commented on #3
Everything sounds good except the last point on linking directly to the README which bring up a few options:

1. we could add a separate question asking for a link to their README in the registration form
2. we could try to guess what their README link is (probably /README.md). If we guess wrong the link will break (sometimes readmes are just README (no filetype), README.txt, README.Rmd, etc
3. we

[2018-02-19 22:05] abbycabs commented on #3
I'll close all the 2017 issues once we launch the new site so I can programmatically comment on each issue as it's closed with something like:

[2018-02-20 00:15] abbycabs commented on #3
Emails are up and working for when projects fill out the form! [google script used](https://github.com/mozilla/global-sprint/blob/master/scripts/google_form.js) and [issue template used](https://github.com/mozilla/global-sprint/blob/master/issue-template.md). Let me know if we need to change any of the links in the issue template! I'll have to update the script again.

I'll add the automated email

[2018-02-22 12:21] Saallen opened #21 "Feedback on the website and Gitpages"
The website and gitpages look great. Loving the new banner and the stories. The layout feels very accessible and not too loaded- Well done !!!!!

I noticed some gaps in information I want to share
* On the foundation home page of the home page [https://foundation.mozilla.org/opportunity/global-sprint/] you don't mention anywhere that there are three ways to participate- I can see the sidebar but a

[2018-02-22 15:27] zee-moz commented on #21
@Saallen thanks!

- I fixed the 3 ways gap-- take a look now! I've also connected that to the stories, and changed the sidebar language to be more active.
- It's true that every project has a lead-- and that's the person submitting the project! They do the application form, and connect with participants We do have project wranglers to help, but the lead is primarily responsible, and that's what we

[2018-02-22 15:29] Saallen commented on #21
OOH, I misread that section thinking that every project lead needed a mentor.

Thanks for the updates :)

[2018-02-22 17:23] stephwright commented on #21
Oh @zee-moz ... these sites made me so happy!  Seriously.... had that filled up happy feeling in my chest!

Here are my notes:
#### Main site
* Under Lead a Project: could we add a link to Pulse where it's mentioned... preferably a link that already filters for Global Sprint tagged items
* Under Host a Site:
  * make clear in first bullet that it’s over 2 days
  * make clear that all is needed to

[2018-02-22 18:59] abbycabs commented on #3
This is good to go! Closing :) @zee-moz, let me know if I forgot anything

[2018-02-22 18:59] #3 closed

[2018-02-22 20:38] zee-moz commented on #21
@stephwright, thanks for the notes!
**Main Site**
- We don't yet have projects, so we won't have a pulse enabled list for a couple weeks.
- Fixed the sprint days and the video conf reqs, added swag mention w/ registration under next steps

**Training Site**
- vidyo link added
- the dropdown is fixed for the full nav
- no link to pulse yet, as above-- coming soon!
- I'm in the process of getting th

[2018-02-23 00:13] kristinashu commented on #20
Sorry, I just noticed this ticket and how you had already tried to re-skin the pages.

If it isn't doable to re-skin them then I recommend these few style updates:
- move "Open & the Global Sprint" and "Collaboration Tools for the Sprint" to [main site](https://foundation.mozilla.org/opportunity/global-sprint/tools-working-open/) (this page is in Draft mode so you have to be logged-in to see it)
-

[2018-02-23 00:16] kristinashu commented on #21
Excellent, I've made a few recommendations for the Training Site in https://github.com/mozilla/2018-global-sprint-planning/issues/20!

[2018-02-23 15:24] zee-moz commented on #20
@kristinashu thanks for the suggestions. Today I have to work on the Web Lit Core launch (which is also next week) so I can't make these changes.  @acabunoc is this something you can work on today to be ready for launch on Monday?

[2018-02-23 15:28] abbycabs commented on #20
If @mmmavis has time today, these changes shouldn't affect the scripts I mentioned before!

Otherwise, I can make some time for this later in the afternoon (or maybe tomorrow) in time for the launch :)

[2018-02-23 20:34] kristinashu commented on #20
Just noting that none of this is a blocker for launch. I think both sites are ready and can launch now. Recommended guide dates are improvements, not blockers.

[2018-02-23 20:55] abbycabs commented on #20
@kristinashu where can I get the new banner image? Making a few changes now!

[2018-02-23 20:59] kristinashu commented on #20
Oooh yay! Here you go:

[Logo.zip](https://github.com/mozilla/2018-global-sprint-planning/files/1753129/Logo.zip)

![globalsprint-githubpage 2x](https://user-images.githubusercontent.com/1068783/36616601-3a11cb02-1899-11e8-82db-32accfccacba.jpg)

[2018-02-23 21:17] abbycabs commented on #20
Made the changes the github site: https://mozilla.github.io/global-sprint/

Haven't moved "Open & the Global Sprint" and "Collaboration Tools for the Sprint" to the main site. I removed them from the navigation of the github site  -- let me know if I should put them back on the  nav!

[2018-02-23 21:20] kristinashu commented on #20
w00t w00t! I've published a Tools & Working Open page https://foundation.mozilla.org/opportunity/global-sprint/tools-working-open/

[2018-02-23 21:32] abbycabs commented on #20
👏😆🎉 yay! Love these changes

[2018-02-26 19:51] zee-moz opened #22 "Work with Design Team to create print materials"

[2018-02-26 19:53] zee-moz commented on #21
thanks all, we have launched! closing this issue. if you see anything that needs to be corrected on either site, feel free to open a "fixes" issue

[2018-02-26 19:53] #21 closed

[2018-03-02 21:29] zee-moz opened #24 "Add FAQs and Site Host Checklist to Training Site"
combine FAQs or keep separate?
any updates to site checklist?

[2018-03-05 18:02] zee-moz commented on #22
[Design brief is here!](https://docs.google.com/document/d/1wN1jMWm92BqEwtvxHScAlv-cLfMTujIncl4aGphPtm0/edit?usp=sharing). See also #12. @kristinashu can you help? 🙏

Here are last year's printed fliers...

Global Sprint Site Announcement ([8.5” x 11” PDF](https://github.com/MozillaFoundation/Design/files/1033127/global-sprint-editable-8p5x11.pdf)) ([11” x 17” PDF](https://github.com/MozillaFounda

[2018-03-06 16:24] zee-moz opened #25 "Look at 2017 data to find most popular projects and contribution types"
What were the most popular projects in last years sprint? what kinds of contributions were people making? code, content, comments, etc. @acabunoc can you help? 🙏  request from Lucy 😸

[2018-03-06 16:26] #17 closed

[2018-03-06 19:16] xmatthewx commented on #22
hi @zee-moz - do you need updates to the signage content?

[2018-03-06 19:24] zee-moz commented on #22
only changes are to the dates of the Sprint, and the shortlink to the site:
This year the sprint is May 10 & 11, 2018.
The main site shortlink is now: mzl.la/global-sprint

I think the What is Mozilla is Okay for another year 😸

I think the CPG text is fine, but would want to hear from @chadsansing... thoughts?

[2018-03-06 19:43] chadsansing commented on #22
I was looking at these today for use at the IoT Escape Room event this week and thought they were great. We may have some alt text later in the year or 2019 for the CPG flier, but it's a great TL;DR - wouldn't worry about changing it for the Sprint, especially since we plan to work with D&I to get the leads and hosts some additional training.

[2018-03-06 20:17] abbycabs commented on #25
flagging @LucyeoH

You can see an overview of the contributions in the ["MozSprint by the (GitHub) Numbers"](https://medium.com/read-write-participate/mozsprint-by-the-github-numbers-49d518551725) post from last year.

## What were the most popular projects in last years sprint?
This graph plots the # of github events vs # of contributors:
[<img width="929" alt="screen shot 2018-03-06 at 3 08 22 p

[2018-03-06 21:03] zee-moz commented on #25
Thanks Abby! :)

[2018-03-07 17:40] zee-moz opened #26 "Add more Internet Health Content to GS webinars"
Let's ensure that IH is part of the training experience. cc @amirad

[2018-03-08 00:23] sabrinang commented on #22
@zee-moz Can you clarify some specifications for the postcard:
- Do you have preferred dimensions? a typical default is 4”x6”
- Are you doing double-sided printing or single side? Good to know for designing the write-in area or I can leave the back empty for write in area if we are single side printing
- Other than event name/date, does this general announcement postcard have any other copy or con

[2018-03-08 20:30] #25 closed

[2018-03-08 20:31] zee-moz commented on #20
Thanks everyone for awesome work on the GS sites 💯 ❤️ 🎊

[2018-03-08 20:31] #20 closed

[2018-03-09 20:59] abbycabs commented on #11
To help with our KR for engaging OL4 grads, I'd like to take from this list of grads who have signed up to stay in touch / be an expert, but not as a mentor (yet).

List (sharing it in a sheet since I'm not sure they'd all appreciate having their names publicly listed here):
https://docs.google.com/spreadsheets/d/1LdiaTAtUd927AYo9sHI2c7nyfRzUT_ugA8kpXfiIvkg/edit?usp=sharing

[2018-03-09 21:06] zee-moz commented on #11
thanks Abby!

[2018-03-09 21:34] zee-moz commented on #22
hi @sabrinang when i said: “The signage is basic welcome stuff, and the CPG”  I meant that we'll use the content that was in last year's signs, and only update the graphics and dates, and shortlink

[2018-03-09 22:00] zee-moz commented on #22
Answers to postcard questions @sabrinang:
* Default size is fine.
* Text adapted from the signage:
"Join our world-wide collaboration party for the open Web!
On May 10-11, scientists, educators, artists, engineers, students and others will gather in person and online to work on projects that make the internet a better place. We'll collaborate on everything from games to promote online privacy to a

[2018-03-13 15:39] zee-moz opened #27 "Open Registration"
To open registration, we need to add the Global Sprint site map to the Foundation site. Embed code is on [this Staging page](https://foundation.mofostaging.net/opportunity/map-embed/) per @xmatthewx

[Registered sites](https://docs.google.com/spreadsheets/d/1-JyApZ-AyBd9XX9vRoqX-zP_XHM-nRa-onWqhgtWcRU/edit#gid=1874859390) are here. I'm updating to add Ti.to links on an ongoing basis. @auremoser le

[2018-03-13 15:41] zee-moz opened #28 "Get Web Lit Core and WLLs involved in the Sprint"
- [x] meet with Davis
- [ ] Follow up with An-Me
- [ ] provide any special support to Web Lit Leaders (vidyo rooms, mentorship, etc)

[2018-03-15 20:45] sabrinang commented on #22
@zee-moz I iterated on the postcard and updated dates, link, colours. You can leave feedback on: https://redpen.io/p/nw5e8492a7d0c71b13

I included a version of the post card back that contains less text as an option for feedback too.

[2018-03-16 14:03] zee-moz commented on #22
Hey, I'm off today but will look on Monday! Thanks so much for your help on
this :)
Cheers,
Zannah

On Thu, Mar 15, 2018 at 4:46 PM, sabrinang <notifications@github.com> wrote:

[2018-03-20 16:27] zee-moz commented on #22
@sabrinang these look great. redpen isn't letting me log in to comment, so feedback is here:

 I would add a teeny bit more text to the front of the post card, as most people  probably don't know what the Global Sprint is. If you can fit something like "worldwide collaboration party for the open web" would encourage them to flip the card over to learn more.

Then, on the back of the card, maybe ju

[2018-03-20 16:29] zee-moz commented on #16
@Saallen job fair is done, so I'd like to close this issue. where are you with the above tasks?

[2018-03-20 18:02] Saallen commented on #16
Done 💯

[2018-03-20 19:32] #16 closed

[2018-03-20 19:32] #26 closed

[2018-03-20 19:41] zee-moz commented on #22
@sabrinang @kristinashu for the postcards, we expect to print them and mail them to the sites as part of the swag packs. For those host who don't have good access to printing tech, this will make advertising their sites much easier.

Do you have suggestions for print companies to use? We'd like to print and ship directly to our swag distribution team (in US, Canada, UK, Europe, Africa) who will se

[2018-03-20 19:47] zee-moz opened #29 "Site Drive!"
- [x] Email Temi about Sites/storytelling
- [x] Ensure that swag form is prepped
- [x] Outreach via Gitter
- [x] Outreach via Twitter (staff)
- [x] Outreach via Slack

blocker-- registration needs to be open #27

[2018-03-20 19:50] zee-moz commented on #29
should be able to do this on Monday-- remember to give Temi current site list with descriptions

[2018-03-20 20:01] #8 closed

[2018-03-20 20:45] zee-moz opened #30 "Contact Coaches; provide Guide"

[2018-03-20 20:45] #10 closed

[2018-03-20 21:20] stephwright commented on #22
+1 on @zee-moz recs above.  Other than that, love it!

[2018-03-21 16:14] zee-moz commented on #27
I had a great meeting with @auremoser about the site map; she'll help with the database and layout. Let's try to get this page up by Friday, so participants can find sites and we can get those registrations pouring in :)

@acabunoc last year we had a special script in the site spreadsheet that was exporting data to use in the map. This script option isn't in the new form-- abby should we add it? A

[2018-03-21 16:55] abbycabs commented on #27
the script generated markdown for last year's site. Not for the map, but for the list of sites below. I don't know what's needed for this year!
Can you paste html into the cms? do you have an html template for each site?

If yes to both, I can put together another custom script. A few hours work. Will trade work.

[2018-03-21 19:02] zee-moz commented on #27
@kristinashu @xmatthewx can you answer abby's questions about the CMS and HTML?
thanks! cc: @auremoser

[2018-03-21 20:17] kristinashu commented on #27
Sorry but I'm not too sure what the question is? If you login to the CMS at https://foundation.mozilla.org/admin/ there is a code editor. It's pretty limited but will that do?

<img width="1432" alt="screen shot 2018-03-21 at 1 15 45 pm" src="https://user-images.githubusercontent.com/1068783/37735064-2bd06c26-2d0a-11e8-8d75-0338d5e4990e.png">

[2018-03-21 20:25] abbycabs commented on #27
Okay, I can have the script generate the html inside the .map-sites div listing all the countries.

But @zee-moz -- you're going to have to copy paste it into the code editor at the right place. Also, I'm not sure I'll have time to work on this till next week -- is that okay?

Alternatively, you can use the WSIWYG editor to manually add links to all the tito sites as they come in

[2018-03-21 20:27] xmatthewx commented on #27
@acabunoc - the cms will strip out scripts. I tested the map embed on staging, and it works. Your list of links will likely need to be added manually. Hopefully this isn't extra work, just a different workflow.

[2018-03-21 20:29] abbycabs commented on #27
Thanks @xmatthewx!

@zee-moz hope you're okay manually adding links to the page

[2018-03-21 20:42] zee-moz commented on #27
@xmatthewx @acabunoc it's def not ideal, but I don't think I have another option, right? 🙃

@kristinashu if you have any design tweaks to make to the registration page (we expect to have maybe 80-100 sites or so, to give you a sense of volume), please make them now! cc: @auremoser

https://foundation.mozilla.org/opportunity/global-sprint/register/

[2018-03-21 21:21] kristinashu commented on #27
I don't have any design updates for the site. @auremoser I recommend making the map itself as neutral as possible (maybe even grey scale) and then making the locations pins the bright blue #071cd1 or pink #ec417a so they stand out nicely.

[2018-03-22 01:48] edrushka commented on #22
@zee-moz sorry for the slow reply - it took me a bit to dig this up. Robert F. and I used [Zazzle](https://www.zazzle.com/create_your_own_horizontal_postcard-239848217395282525) to create some Internet Health postcards for the SF All Hands. It was cheap and we were pleased with how well they turned out.

[2018-03-22 20:20] acabunoc opened #31 "Allowing Spanish Project Submissions"
Things to localize to Spanish:
- [x] Project submission form - https://docs.google.com/forms/d/1CnoCh_NMez4n7i3NV-J9ZlR4t8wCKxwdQoplS77u0Yw/edit (edit this version directly!)
- [x] Content in this Google Doc - https://docs.google.com/document/d/1-j5A5o4wFNyzjs0mpLpmWytHF3Qsmv7L9LbSOVXr708/edit# Includes:
  - [x] email confirmation
  - [x] github issue template
- [x] mozsprint-repo-template - https

[2018-03-22 20:35] abbycabs commented on #31
For anyone reading, if you're interested in localizing + [coaching projects](https://github.com/mozilla/2018-global-sprint-planning/blob/master/project-coach.md) in another language, let me know!

[2018-03-23 18:41] abbycabs commented on #27
@zee-moz do you have a tito link for virtual participants? The current page links to the 2017 virtual participation.

[2018-03-23 19:24] zee-moz commented on #27
@acabunoc here's the virtual link https://ti.to/Mozilla/global-sprint-virtual18

do you need me to add a country code column in the Site Spreadsheet?

[2018-03-23 19:31] abbycabs commented on #27
I think the country code was for the map, not for the list. I'd check with @auremoser

[2018-03-23 19:31] abbycabs commented on #27
oh wait! it was for the icons! We don't have them on the foundation site, so no need

[2018-03-23 19:33] zee-moz opened #32 "Add featured/pulse section to project guide"
- [x] use content from coaches guide
- [ ] add info about profiles
- [x] encourage use of images
- [x] send link to abby

[2018-03-23 19:40] zee-moz commented on #27
great! less work on that step 😸

[2018-03-23 19:49] zee-moz opened #33 "Create temporary Project page on Foundation Site"
we need projects to appear on the foundation site, to help drive registration
per @xmatthewx we're some time away from pulling in projects dynamically from Pulse.

@kristinashu, using the "three images" structure we used for the Sprint stories, could you set up a project page grid of six project images that link to entries on Pulse, and a big button that says: click here to browse featured project

[2018-03-23 20:12] abbycabs commented on #27
Preview page is setup with existing sites: https://foundation.mozilla.org/opportunity/global-sprint/register/

To update the site list:
1. In the site registration form responses, click on '**Global Sprint**' > '**Expert data for registration page**'
<img width="791" alt="screen shot 2018-03-23 at 4 10 34 pm" src="https://user-images.githubusercontent.com/617994/37851303-c527c5ee-2eb4-11e8-992e-00

[2018-03-23 21:05] kristinashu commented on #33
Gavin should have the embed done and reviewed by the end of day Monday. So if you are definitely announcing Monday then I can do a temporary grid of projects

[2018-03-23 21:15] zee-moz commented on #33
I think it's OK to wait until end of day Monday! No need for a temporary
page. Thanks :)

On Fri, Mar 23, 2018 at 5:05 PM, Kristina <notifications@github.com> wrote:

[2018-03-23 21:18] kristinashu commented on #33
Ok excellent!

[2018-03-23 21:46] #33 closed

[2018-03-23 21:48] zee-moz commented on #30
Done! [Guide is here](https://github.com/mozilla/2018-global-sprint-planning/blob/master/project-coach.md)

[2018-03-23 21:48] #30 closed

[2018-03-23 21:50] zee-moz commented on #22
@sabrinang  let me know when you've updated the cards and they are good to print! we'll want to order them 3/26 or 3/27 at the latest 😸

[2018-03-26 12:10] auremoser commented on #27
Hey Folks!

I put together the following map based on @zee-moz 's latest [sites spreadsheet](https://docs.google.com/spreadsheets/d/1-JyApZ-AyBd9XX9vRoqX-zP_XHM-nRa-onWqhgtWcRU/edit#gid=1874859390). The [map](https://auremoser.carto.com/builder/4096455f-09f9-4176-bf24-c210edb7e239/embed) currently features 30 sites (up to Goa in the sheet).

As last year, we have the site point data as dots, and a

[2018-03-26 16:13] zee-moz opened #34 "create 2018 post-sprint survey"
last year's survey can be found here: #4
please comment with edits and new questions  cc: @chadsansing

[2018-03-26 17:40] chadsansing commented on #34
Suggestion:

- How did you find your way to the Global Sprint? [Drop-down: Open Leaders Program, Open Leadership 101, Open Leadership Training Series, Past Global Sprint(s), Open Leadership Framework, MozFest, Other (please explain)]

[2018-03-26 19:48] sabrinang commented on #22
@zee-moz Revised back and front and let me know if you have anymore feedback for it: https://redpen.io/p/nw5e8492a7d0c71b13

I exported the postcards (with 0.125" bleed) and posters as .pdf files here: https://drive.google.com/open?id=1-iK24Mgm1UkfcdhGgQj5yZutwZEjh3SY

[2018-03-26 22:09] kristinashu commented on #27
Thanks @auremoser! I've embedded this on the site https://foundation.mozilla.org/opportunity/global-sprint/register/ (need to be logged in to see it).

Maybe the time zones could be a lighter blue so it's a little more subtle.

* **basemap** - Could use a much lighter blue like `#b4baf1`for the oceans, and even lighter blue `#cdd2f6` for the borders.
* **dots** - Reverse the dot colors. So `#ec417

[2018-03-27 08:29] auremoser commented on #27
Done @kristinashu !

* [x] basemap - Could use a much lighter blue like #b4baf1for the oceans, and even lighter blue #cdd2f6 for the borders.
* [x] dots - Reverse the dot colors. So #ec417a pink for the fill, and dark blue #071cd1 for the border.

## Screenshot
![screen shot 2018-03-27 at 10 27 54 am](https://user-images.githubusercontent.com/1559703/37955715-a8f98c3e-31a9-11e8-8289-4a44c9635acc.p

[2018-03-27 16:36] abbycabs commented on #32
On the new issues ([here's a sample](https://github.com/mozilla/global-sprint/issues/206)), I link out to this page in the guide (instead of directly to the submission form).

[2018-03-28 17:15] sabrinang commented on #22
@zee-moz Did these assets work for you? I have not heard back so I am unsure if you sent to print earlier this week

[2018-03-28 21:20] kristinashu commented on #27
So sorry @auremoser you were totally right about the timezones! Do you mind switching it back to the dark blues you had originally done? But keep the dots are is, I think they stand out better now.

And the page is now live! https://foundation.mozilla.org/opportunity/global-sprint/register/

[2018-03-29 09:11] auremoser commented on #27
Done, back to dark base, same dots!

Here's the [map](https://auremoser.carto.com/builder/4096455f-09f9-4176-bf24-c210edb7e239/embed):
![screen shot 2018-03-29 at 11 11 00 am](https://user-images.githubusercontent.com/1559703/38080511-fac6a094-3341-11e8-886f-154f5bef26c6.png)

Whoot!

[2018-03-29 16:32] kristinashu commented on #27
Perfect, thanks @auremoser!

@zee-moz both [Register page](https://foundation.mozilla.org/opportunity/global-sprint/register/) and [Projects page](https://foundation.mozilla.org/opportunity/global-sprint/2018-projects/) are live! I've also updated all the Pre-register links and text to the actual Register page. Please just double check them and let me know if you need anything else!

[2018-03-30 19:48] zee-moz commented on #22
@sabrinang hi! sorry for the delay, super busy with site registrations this week. these look good, except there is a small typo on the back card text-- a "v" before the word "better".

Also it might help to add the words: **"your local sprint location"** and **"your local Sprint host:"** or maybe **"your local sprint details:"** on a line where the blank space starts-- that way people know what to

[2018-03-30 21:44] zee-moz opened #35 "Tasks for week of 4/2"
- [x] email re: registration live
- [x] blog post announcement
- [x] check in on projects and sites
- [x] swag form to site hosts
- [x] site host info and faqs
- [x] site drive tweets
- [x] craig link with daniela
- [x] david & potch mv
- [x] question updates
- [ ] GH training/tutorials
- [x] Lagos correction
- [x] pr on webinars
- [ ] CPG blog post

[2018-03-30 21:48] stephwright commented on #22
Took a look... and they are fantastic!  Love your suggestions, @zee-moz ... I'd say incorporate those and we're good to go.

[2018-04-02 16:56] sabrinang commented on #22
@zee-moz I have updated the postcard text by the blank lines ("your local sprint location" and "your local sprint host") and fixed the typo. The pdf is updated in the folder: https://drive.google.com/open?id=1-iK24Mgm1UkfcdhGgQj5yZutwZEjh3SY

[2018-04-02 18:28] zee-moz commented on #22
great! @stephwright, print away!

[2018-04-02 18:28] #22 closed

[2018-04-04 07:03] lasr21 commented on #31
Hello @acabunoc finally, @mattdark  and I just finish the docs, we notice that the template wasn't in Spanish so we translate it -> https://github.com/acabunoc/mozsprint-repo-template/pull/7

[2018-04-04 13:32] abbycabs commented on #31
that's amazing! Thank you so much @mattdark & @lasr21 -- I'll have a look later today and ping you before everything goes live.

[2018-04-04 18:11] Deborah-Digges commented on #24
Is there any help needed in this area? I'd be happy to volunteer for any site related changes :-)

[2018-04-04 21:03] zee-moz commented on #24
Hi @Deborah-Digges thanks for the offer! That's fantastic.

The Site Host Checklist for this year is here: https://mozilla.github.io/global-sprint/site-hosts-guide/checklist/ The checklist starts with tasks 2 weeks before the sprint, but we could be offering more in the way of coaching on getting the word out starting 4 weeks before (that would be next week!).  I know you're an experienced Sprinte

[2018-04-06 13:34] zee-moz commented on #27
thanks everyone! 💯

[2018-04-06 13:34] #27 closed

[2018-04-08 10:59] Deborah-Digges commented on #24
Hi @zee-moz !!

Thanks so much for the warm welcome and detailed follow up :) Really excited to join this effort. I've participated remotely before and it was an absolutely wonderful experience.

I just went through the Site Host Checklist and thought of a few things we could add in:

1. Add the link for ti.to: https://ti.to/home
2. For tweets, have we decided on the hashtag yet? If so, we could i

[2018-04-08 11:36] Deborah-Digges commented on #24
A couple of things we could add in from the FAQs to the current site hosting Guidelines:

1. A link to current sites would definitely be useful to allow people to see if there are other sites also being hosted in the same location
2. The privacy policy regarding any data provided by the site host may be added in
3. This point would be a great addition as it isn't currently mentioned in the Site ho

[2018-04-09 19:22] abbycabs commented on #31
And it's live! Spanish projects can submit here: https://goo.gl/forms/BB7ifmO2FCc29EGF3

[2018-04-09 19:23] abbycabs commented on #31
I'd love to send a few tweets to promote this. If you have anything I can tweet in spanish let me know!

[2018-04-18 17:29] #29 closed

[2018-04-18 20:32] zee-moz commented on #14
Sent note to Sara 3/20;  Ashley and Sara 4/18.

[2018-04-18 20:32] #14 closed

[2018-04-19 15:00] zee-moz commented on #24
@Deborah-Digges thanks so much for this! I was traveling last week, so I'm sorry for the slow reply.
These are all great suggestions! I'll be making edits today and tomorrow.

Thanks so much for your help 🌟 💯

[2018-04-19 15:30] zee-moz commented on #12
Closing this "Preparations" issue for now, as we're well on the way! :)

[2018-04-19 15:31] zee-moz commented on #11
closing this, as we now have a great group of project coaches :)

[2018-04-19 15:38] #11 closed

[2018-04-19 15:46] zee-moz opened #36 "Site Host Support/Outreach t-minus 3 weeks"
SIte Host Email
- [x] CPG training date/time
- [x] Promo materials
- [x] Comms channels
- [x] Outreach templates

[2018-04-20 17:29] zee-moz commented on #36
Outreach template etherpads https://public.etherpad-mozilla.org/p/site-host-templates

[2018-04-27 21:38] #36 closed

[2018-04-27 21:39] zee-moz opened #37 "Align Training Site footer with Foundation Site Footer"
Footer here:
https://mozilla.github.io/global-sprint/

Matches footer here:
https://foundation.mozilla.org/opportunity/global-sprint/

Thanks Abby :)

[2018-04-27 21:43] zee-moz opened #38 "Add a Content License to the GS repo"
Abigail  P. says:

"The Github Global Sprint repo only has a software license. I would include a content license as well, especially since this is the advice Mozilla gives to Project Leaders."

Abby, can you add? Thanks!

[2018-04-27 21:44] zee-moz commented on #35
last tasks moved to future issue, issue closed!

[2018-04-27 21:45] #35 closed

[2018-04-27 21:45] #9 closed

[2018-04-27 21:46] #7 closed

[2018-04-27 21:47] zee-moz commented on #4
Done!

[2018-04-27 21:47] #4 closed

[2018-04-27 21:47] #12 closed

[2018-04-27 21:53] zee-moz opened #39 "Tasks Week of 4/30"
- [x] GH training/tutorials _ EMAIL INVITE
- [x] check-in info on Guide and in email
- [x] site host office hours - EMAIL INVITE
- [x] MDN chris
- [x] Will allmozilla email list
- [x] email list follow up
- [x] Amira clubs email
- [x] project call? - check with Abby
- [x] new sites
- [x] project tweets
- [x] GVN promo - Duncan
- [x] mentors featuring projects
- [x] mountain view - write text
- [x]

[2018-04-27 23:32] abbycabs commented on #38
already in the footer!
<img width="407" alt="screen shot 2018-04-27 at 7 31 36 pm" src="https://user-images.githubusercontent.com/617994/39388909-a3a43a98-4a51-11e8-8885-fb2ef311676b.png">

[2018-04-27 23:32] #38 closed

[2018-05-02 14:07] zee-moz opened #40 "Follow up with Kevin about Hacker News"
- [x] Slack Kevin

[2018-05-08 18:47] #40 closed

[2018-05-08 18:47] #39 closed

[2018-05-08 20:04] zee-moz opened #41 "Schedule Hosts for Demo Calls"
@acabunoc do you want to suggest OL cohort members? any specific suggestions?

[2018-05-08 20:20] zee-moz opened #42 "Final site host email"
topics

- [ ] check in instructions
- [ ] refer to cpg for any issues
- [ ] tell your site story-- tweet/post
- [ ] etherpad for participation
- [ ] demo calls
- [ ] resources for newcomers

[2018-05-08 20:30] zee-moz opened #43 "Virtual Participant Email 5/9"
- [ ] demo calls
- [ ] vidyo
- [ ] gitter
- [ ] choose your own adventure - find your project

[2018-05-09 15:41] abbycabs commented on #41
This is a pretty late ask - so I'd start with the hosts. And see if the hosts would recommend anyone in their cohorts.

@chartgerink
@macruzbar
@Monsauce
@priyankanag
@rainsworth
@schae234
@syswsi
@yochannah

Can you link the schedule so people know when the calls are?

[2018-05-09 15:43] zee-moz commented on #41
yes! https://public.etherpad-mozilla.org/p/2018globalsprint

[2018-05-09 15:47] Monsauce commented on #41
@SamanthaHindle or @chrisbresky do either of you want a slot during the North America call?

[2018-05-09 15:47] yochannah commented on #41
I'll be at the Mozilla London office for the sprint, and can volunteer to host one or both of the UK morning time ones (   Europe / Africa / Asia 10:00 UTC     11AM BST / 12AM CEST / 3:30PM IST / 6AM EDT) so long as it's ok with @bunnybooboo and co...

[2018-05-09 16:32] chrisbresky commented on #41
What does that entail?

On Wed, May 9, 2018, 10:47 AM Monica Granados <notifications@github.com>
wrote:

[2018-05-09 16:37] macruzbar-zz commented on #41
Would this be like hosting an OL cohort meeting? Would we need to be available all day? I have some meetings here and there, but I could get the call started at 10 am

[2018-05-09 17:11] zee-moz commented on #41
@chrisbresky @macruzbar great questions!

you don't have to be available all day-- it's just for the Sprint demo call, so about an hour or so of presentations. similar to the OL cohort calls-- you are not presenting anything, just welcoming, facilitating the speakers, making sure the call goes smoothly. Only one per person, in your appropriate time zone.

agenda is in this pad:
https://public.ethe

[2018-05-09 17:13] zee-moz commented on #41
@yochannah @bunnybooboo I have you on for 11am BST
David on Thurs
Yo on Friday

Thanks so much 💯 😸

[2018-05-09 17:51] zee-moz commented on #41
@macruzbar would you be able to do:    North America / South America 17:00 UTC  10AM PDT / 1PM EDT /  on either Thurs or Friday? Again, just host/emcee the call, about 1 hour or so

[2018-05-09 18:59] macruzbar-zz commented on #41
Yes, I can host for an hour. Would this be starting at 10 am PST?
I saw the agenda on the etherpad, but there was no specific info about demo call start and end times.

[2018-05-09 19:46] chadsansing commented on #34
Working on this with Kristina.

[2018-05-09 20:37] zee-moz commented on #41
the start times for the calls should be above the sign-up blocks.
around lines 46 and 89-- 10 pm PT
I don't think they'll go for more than an hour-- if they run longer than that and you can't stay on, we have a back-up person who can take over.  It's so awesome  you can help out!  Let us know Thurs or Friday!

[2018-05-10 10:21] chartgerink commented on #41
Sorry, I will not be able to host this! I'm doing some sprinting intermittently and taking some mental  health "sprints" too.

[2018-05-10 21:29] macruzbar-zz commented on #41
Just signed up to host tomorrow, too!

[2018-05-10 21:33] zee-moz commented on #41
@macruzbar  thanks so much !  ✨ 👏 ✨

[2022-01-14 20:01] #43 closed

[2022-01-14 20:01] #41 closed

[2022-01-14 20:01] #42 closed

[2022-01-14 20:01] #37 closed

[2022-01-14 20:01] #32 closed

[2022-01-14 20:01] #34 closed

[2022-01-14 20:02] #31 closed

[2022-01-14 20:02] #24 closed

[2022-01-14 20:02] #28 closed

[2022-01-14 20:02] #15 closed

[2022-01-14 20:02] #5 closed

[2022-01-14 20:02] #2 closed